:root{
    --text-color:#9d9d9d;
    --main-color:  rgb(20, 53, 195);;
    --white-color:#ffffff;
    --black-color:#000000;
    --background-color:rgb(217, 191, 143) ;
}
*{
    box-sizing: inherit;
   
}
.app{
    background-color: #f8f8fc;
}
html{
    line-height: 16px;
    font-family:'Roboto',sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style: none ;
}
a{
    text-decoration: none;
    display: inline-block;
    overflow: hidden; 
}
a:hover{
    text-decoration: none;
}
img{
    display: block;
    transition: .3s ease-in-out;
}
img:hover{
    transform: scale(1.05);
}